<!DOCTYPE html>
<html lang="en" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Products</title>
</head>

<body class="h-full">
    <div class="min-h-full bg-gray-100">
        <nav class="bg-gradient-to-r from-gray-800 to-gray-900 shadow-lg">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-6">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="hidden md:block ml-10">
                            <div class="flex items-center space-x-8">
                                <a href="/"
                                    class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-orange-400 transition duration-200">Home</a>
                                <a href="/users"
                                    class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-orange-400 transition duration-200">Users</a>
                                <a href="/categories"
                                    class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-orange-400 transition duration-200">Categories</a>
                                <a href="/products"
                                    class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-orange-400 transition duration-200">Products</a>
                                <a href="/pays"
                                    class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-orange-400 transition duration-200">Pays</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:flex items-center space-x-6">
                        <button type="button"
                            class="relative p-2 text-gray-100 hover:text-orange-400 transition duration-200"
                            onclick="window.location.href='/shopping-cart'">
                            <span class="sr-only">Carrito de Compras</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-7 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                            <span id="cart-count" th:text="${productCount}"
                                class="absolute top-0 right-0 -mt-1.5 -mr-1.5 bg-orange-500 text-gray-900 text-xs font-bold px-1.5 py-0.5 rounded-full"></span>
                        </button>
                        <!-- Dropdown de usuario -->
                        <div class="relative">
                            <button type="button"
                                class="flex items-center p-2 rounded-full text-gray-100 hover:text-orange-400 transition duration-200 focus:outline-none"
                                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Abrir menú de usuario</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
                <div class="bg-white shadow-lg rounded-lg p-6">
                    <div class="flex justify-between items-center mb-6">
                        <h1 class="text-3xl font-semibold text-gray-700 underline"></h1>
                        <div class="flex gap-3">
                            <a href="/products/create"
                                class="bg-orange-500 hover:bg-orange-700 text-white px-4 py-2 rounded-lg shadow flex items-center gap-2">
                                <i class="ph ph-plus"></i>
                                Add Product
                            </a>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="w-full border-collapse bg-white shadow-md rounded-lg overflow-hidden">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-identification-card"></i> ID
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-box"></i> Name
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-tag"></i> Images
                                    </th>
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-tag"></i> Price
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-archive"></i> Stock
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-calendar"></i> Date Added
                                    </th>
                                    <th class="border border-gray-300 px-4 py-2 text-left">
                                        <i class="ph ph-gear"></i> Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">
                                <tr th:each="product : ${products}" class="hog-gray-100">
                                    <td class="p-3" th:text="${product.idProduct}"></td>
                                    <td class="p-3" th:text="${product.name}"></td>
                                    <td class="p-3">
                                        <img th:src="${product.image}" alt="Product image"
                                            style="max-width: 100px; max-height: 100px;">
                                    </td>
                                    <td class="p-3" th:text="${product.price}"></td>
                                    <td class="p-3" th:text="${product.stock}"
                                        th:classappend="${product.stock == 0} ? 'text-danger' : ''"></td>
                                    <td class="p-3" th:text="${#dates.format(product.createdAt, 'dd/MM/yyyy')}"></td>
                                    <td class="p-3 text-center">
                                        <div class="flex justify-center space-x-3">
                                            <a th:href="@{/products/{id}(id=${product.idProduct})}"
                                                class="text-blue-600 hover:underline flex items-center gap-1">
                                                <i class="ph ph-eye"></i>
                                            </a>
                                            <a th:href="@{/products/edit/{id}(id=${product.idProduct})}"
                                                class="text-yellow-600 hover:underline flex items-center gap-1">
                                                <i class="ph ph-pencil"></i>
                                            </a>
                                            <a th:href="@{/products/delete/{id}(id=${product.idProduct})}"
                                                class="text-red-600 hover:underline flex items-center gap-1">
                                                <i class="ph ph-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>