<!DOCTYPE html>
<html lang="en" class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Shopping cart</title>
</head>

<body class="h-full">
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <!--<img class="size-8" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">-->
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="/" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                                    aria-current="page">Home</a>
                                <a href="/clients/list"
                                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Clients</a>
                                <a href="/products/index"
                                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Products</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button type="button"
                                class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
                                onclick="window.location.href='/shopping-cart'">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Shopping cart</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                            </button>

                            <div class="relative ml-3">
                                <div>
                                    <button type="button"
                                        class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
                                        id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                        <span class="absolute -inset-1.5"></span>
                                        <span class="sr-only">Open user menu</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="bg-white">
                <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0">
                    <h1 class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Shopping Cart
                    </h1>

                    <form class="mt-12">
                        <section aria-labelledby="cart-heading">
                            <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

                            <ul role="list" class="divide-y divide-gray-200 border-t border-b border-gray-200">
                                <li th:each="detailProduct : ${cartDetail.detailProducts}" class="flex py-6">
                                    <div class="shrink-0">
                                        <img src="" alt="Product Image"
                                            class="size-24 rounded-md object-cover sm:size-32">
                                    </div>

                                    <div class="ml-4 flex flex-1 flex-col sm:ml-6">
                                        <!-- Datos del producto -->
                                        <div>
                                            <div class="flex justify-between">
                                                <h4 class="text-sm">
                                                    <a href="#" class="font-medium text-gray-700 hover:text-gray-800"
                                                        th:text="${detailProduct.product.name}"></a>
                                                </h4>
                                                <p class="ml-4 text-sm font-medium text-gray-900 price-format"
                                                    th:text="'$' + (${detailProduct.product.price} * ${detailProduct.quantity})">
                                                </p>
                                            </div>
                                            <p class="mt-1 text-sm text-gray-500"
                                                th:text="'Cantidad: ' + ${detailProduct.quantity}"></p>
                                        </div>
                                        <!-- Opción de remover, alineada a la derecha debajo del precio -->
                                        <div class="mt-4 text-right">
                                            <form
                                                th:action="@{/shopping-cart/remove/{id}(id=${detailProduct.product.id})}"
                                                method="post">
                                                <input type="hidden" name="productId"
                                                    th:value="${detailProduct.product.id}" />
                                                <button type="submit"
                                                    class="text-sm font-medium text-red-600 hover:text-red-500">
                                                    <i class="ph ph-trash text-xl"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>

                        <!-- Order summary -->
                        <section aria-labelledby="summary-heading" class="mt-10">
                            <h2 id="summary-heading" class="sr-only">Order summary</h2>

                            <div>
                                <dl class="space-y-4">
                                    <div class="flex items-center justify-between">
                                        <dt class="text-base font-medium text-gray-900">Subtotal</dt>
                                        <dd th:text="'$' + ${totalAmount}"
                                            class="ml-4 text-base font-medium text-gray-900 price-format"></dd>
                                    </div>
                                </dl>
                                <p class="mt-1 text-sm text-gray-500">Shipping and taxes will be calculated at checkout.
                                </p>
                            </div>

                            <div class="mt-10">
                                <button type="submit"
                                    class="w-full rounded-md border border-transparent bg-orange-600 px-4 py-3 text-base font-medium text-white shadow-xs hover:bg-orange-700 focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 focus:ring-offset-gray-50 focus:outline-hidden">Checkout</button>
                            </div>

                            <div class="mt-6 text-center text-sm">
                                <p>
                                    or
                                    <a href="/" class="font-medium text-orange-600 hover:text-orange-500">
                                        Continue Shopping
                                        <span aria-hidden="true"> &rarr;</span>
                                    </a>
                                </p>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script>
        document.querySelectorAll(".price-format").forEach(priceElement => {
            let price = parseFloat(priceElement.textContent.replace(/[^0-9.-]+/g, ""));
            priceElement.textContent = new Intl.NumberFormat("es-CO", {
                style: "currency",
                currency: "COP",
                minimumFractionDigits: 0
            }).format(price);
        });
    </script>
</body>